%h2 Post New User

= bootstrap_form_for @user, url: users_path do |f|
  = f.text_field :email
  = f.submit "Submit", class: 'btn btn-primary'
  = link_to 'Back', articles_path, class: 'btn btn-default'