#uown-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: 'modal'}}
          %span.icon-cancel-circle
          %span.sr-only Close
        %h4#myModalLabel.modal-title
      .modal-inner
        .modal-body
        .modal-footer
